* {
  box-sizing: border-box;
}

.wrapper {
  display: flex;
}

$primary-color: white;

.chat-side {
  height: 100vh;
  width: 300px;
  color: $primary-color;
  font-weight: bold;
  .side-header {
    height: 100px;
    background-color: #253141;
    display: flex;
    align-items: center;
    &__box {
      height: 20px;
      width: 100%;
      margin: 0 20px;
      display: flex;
      justify-content: space-between;
      line-height: 20px;
      &__menu {
      width: 60px;
      display: flex;
      justify-content: flex-end;
      a {
        color: $primary-color;
        text-decoration: none;
      }
      &__edit--user {
        margin-left: 5px;
      }
      }
    }
  }

  .groups {
    background-color: #2f3e51;
    height: calc(100vh - 100px);
    padding: 20px 20px 0;
    .group {
      margin-bottom: 40px;
      &__name {
        font-size: 15px;
        margin-bottom: 5px;
      }
      &__latest-message {
        font-size: 11px;
      }
    }
  }
}

.chat-main{
  width: calc(100vw - 300px);
  .main-header {
    background-color: $primary-color;
    height: 100px;
    border-bottom: solid 1px #eeeeee;
    padding: 0 40px;
    display: flex;
    justify-content: space-between;
    &__left-box {
      margin-top: 35px;
      h2 {
        margin-bottom: 15px;
        color: #333333;
        font-size: 20px;
      }
      &__member-list {
        color: #999999;
        font-size: 12px;
      }
    }
    a {
      text-decoration: none;
      width: 72px;
      height: 40px;
      margin-top: 28px;
      padding: 0 20px;
      color: #38aef0;
      font-size: 16px;
      border: solid 1px;
      line-height: 40px;
    }
  }

  .messages {
    background-color: #fafafa;
    height: calc(100% - 190px);
    padding: 35px 40px;

    .message {
      padding-bottom: 46px;
      &__upper-info {
        padding-bottom: 12px;
        display: flex;
        &__talker {
          color: #333333;
          font-weight: bold;
        }
        &__date  {
          color: #999999;
          font-size: 12px;
          margin-left: 10px;
        }
      }
      &__text {
        color: #434A54;
        font-size: 14px;
      }
    }
  }

  .form {
    height: 90px;
    background-color: #d2d2d2;
    padding: 20px 40px;
    form {
      display: flex;
      .input-box {
        display: flex;
        width: 100%;
        position: relative;
        &__text {
          height: 50px;
          width: 100%;
          padding: 0 40px 0 10px;
        }
        &__image {
          position: absolute;
          top: 10px;
          right: 10px;
          font-size: 1.3rem;
          &__file {
            display: none;
          }
        }
      }
      .submit-btn {
        width: 100px;
        height: 50px;
        padding: 0 30px;
        margin-left: 15px;
        background-color: #38aef0;
        color: $primary-color;
      }
    }
  }
}